*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --color1: #666666;
    --text-color: #fff;
    --primary-color: #000;
  }

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}


/* HEADER-SECTION */

.header__nav {
    padding-top: 30px;
    position: relative;
    z-index: 3;
}

.header__link {
    display: inline-block;
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__list {
    display: flex;
    list-style-type: none;
    margin-right: 50px;
    transition: all 1s ease;
}

.header__item {
    transition: 1s;
    margin-right: 50px;
}

.header__item:hover {
    transform: scale(1.1);
}

.header__link {
    text-decoration: none;
    color: var(--color1);
    font-size: 14px;
    letter-spacing: 1px;
}

.header__link:hover {
    color: var(--primary-color);
}

.header__item-input {
    position: relative;
}

.header__search {
    width: 160px;
    padding: 3px;
    color: var(--color1);
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: .8px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.header__search:hover {
    box-shadow: inset 0px -1px 0px #666666;
}

.header__search:focus {
    box-shadow: inset 0px -1px 0px #666666;
}

.header__search:hover::-webkit-input-placeholder {
    color: var(--color1);
}

.header__search:hover:-ms-input-placeholder {
    color: var(--color1);
}

.header__search:hover::-ms-input-placeholder {
    color: var(--color1);
}

.header__search:hover::placeholder {
    color: var(--color1);
}

.header__icon {
    opacity: 0;
    position: absolute;
    color: var(--color1);
    top: 2px;
    right: 3px;
    cursor: pointer;
}

.header__search::-webkit-input-placeholder {
    color: var(--color1);
    font-size: 14px;
}

.header__search:-ms-input-placeholder {
    color: var(--color1);
    font-size: 14px;
}

.header__search::-ms-input-placeholder {
    color: var(--color1);
    font-size: 14px;
}

.header__search::placeholder {
    color: var(--color1);
    font-size: 14px;
}

.header__search:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.5s ease;
}

.header__search:focus:-ms-input-placeholder {
    opacity: 0;
    transition: 0.5s ease;
}

.header__search:focus::-ms-input-placeholder {
    opacity: 0;
    transition: 0.5s ease;
}

.header__search:focus::placeholder {
    opacity: 0;
    transition: 0.5s ease;
}

.header__search:focus~.nav__icon {
    opacity: 1;
    transition: opacity .5s ease;
}

#hamburger {
    display: none;
}

.header_hamburger {
    display: none;
    
}


.header__hamburger-menu {
    position: relative;
    display: none;
    z-index: 2;
}

.header__hamburger-menu:active {
    opacity: .7;
}

.header__hamburger-top {
    width: 20px;
    height: 3px;
    background-color: var(--primary-color) ;
    border-radius: 50px;
    position: relative;
}

.header__hamburger-middle {
    margin: 4px 0;
    width: 20px;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 50px;
}

.header__hamburger-bottom {
    margin: 4px 0;
    width: 20px;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 50px;
}

@media (max-width: 700px) {
    .header__nav {
        padding-top: 0px;
        position: relative;
        z-index: 10;
        background-color: var(--text-color);
    }

    #header {
        width: 100%;
        background-color: var(--text-color);
        box-shadow: 0px 0px 10px gray;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .header__list {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 50px;
        padding-top: 80px;
        background-color: var(--text-color);
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: -110%;
        z-index: 1;
    }

    .header__item {
        margin-right: 15px;
        margin-bottom: 30px;
    }

    .header__link {
        font-size: 20px;
    }

    .header__search {
        width: 250px;
        padding-left: 0;
        font-size: 20px;
    }

    .header__icon {
        left: 230px;
        top: 6px;
    }

    .header__search::-webkit-input-placeholder {
        font-size: 20px;
    }

    .header__search:-ms-input-placeholder {
        font-size: 20px;
    }

    .header__search::-ms-input-placeholder {
        font-size: 20px;
    }

    .header__search::placeholder {
        font-size: 20px;
    }

    .header__hamburger-menu {
        display: block;
    }

    #hamburger:checked~.header__list {
        margin-right: 80%;
    }

    .header__hamburger-top {
        transition: all 1s ease;
    }

    .header__hamburger-middle {
        transition: all 1s ease;
    }

    .header__hamburger-bottom {
        transition: all 1s ease;
    }

    .hamburger_outer {
        position: relative;
    }



    #hamburger:checked~.header__hamburger-menu .header__hamburger-top {
        transform: rotate(405deg);
    }

    #hamburger:checked~.header__hamburger-menu .header__hamburger-middle {
        transform: rotate(315deg);
        position: absolute;
        top: -4px;
        right: 0;
    }

    #hamburger:checked~.header__hamburger-menu .header__hamburger-bottom {
        transform: rotate(315deg);
        position: absolute;
        top: -4px;
        right: 0;
    }
}


/* HERO-SECTION */

#hero {
    height: 830px;
    background-image: url("../../img/watches.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 30px right -340px;
}

.hero__box {
    padding-top: 180px;
}

.hero__title {
    font-size: 50px;
    font-weight: 700;
}

.hero__text {
    margin-top: 70px;
    padding-left: 40px;
    width: 40%;
    line-height: 26px;
    letter-spacing: .3px;
    border-left: 3px solid #a0a0a0;
}

@media (max-width: 1000px) {
    .hero__box {
        padding-top: 140px;
    }

    .hero__text {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .hero__box {
        padding-top: 180px;
        color: var(--text-color);
    }

    #hero {
        height: 830px;
        background-image: url("../../img/watches.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left 0;
    }
}

/* INFORMATION-SECTION */

.information__box {
    padding-top: 57px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information__list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.information__item {
    width: 29%;
}

.information__title {
    font-size: 20px;
    font-weight: 600;
}

.information__text {
    margin-top: 50px;
    line-height: 32px;
    letter-spacing: .6px;
    margin-bottom: 15px;
}

.information__slider {
    width: 50px;
    height: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.slider {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color1);
    cursor: pointer;
}

.slider:hover {
    background-color: var(--primary-color);
}

.information__link {
    text-decoration: none;
    color: #ff0000c0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 1000px) {
    .information__list {
        flex-direction: column;
        align-items: center;
    }

    .information__item {
        width: 80%;
        text-align: center;
    }

    .information__item~.information__item {
        margin-top: 30px;
    }

    .information__slider {
        margin: 0 auto;
    }
}


/* SALE-SECTION */



.sale__box {
    padding-top: 130px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sale__desc {
    width: 500px;
    position: static;
    z-index: 2;
}

.sale__title {
    margin-top: 170px;
    font-size: 50px;
}

.sale__text {
    margin-top: 70px;
    padding-left: 40px;
    color: var(--color1);
    line-height: 27px;
    border-left: 3px solid gray;
}

.sale__img {
    margin-right: 30px;
    z-index: 0;
}

@media (max-width: 1000px) {
    #sale {
        background-image: url(../../img/preview.jpg);
        background-position: top 0 left 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sale__box {
        padding-top: 80px;
        padding-bottom: 50px;
        justify-content: center;
    }

    .sale__img {
        display: none;
    }

    .sale__title {
        margin-top: 30px;
        color: var(--text-color);
    }

    .sale__text {
        color: var(--text-color);
        border-left: 3px solid white;
    }
}

/* BUTTON */

.btn {
    margin-top: 55px;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: .5px;
    background-color: #ff0000ad;
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}

.btn:hover {
    transform: scale(1.07);
}

.btn:active {
    transform: scale(1);
    transition: all .1s ease;
}

/* FOOTER */

#footer {
    background-image: url("../../img/runners.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__box {
    padding: 270px 0;
    display: flex;
    justify-content: flex-end;
    color: var(--text-color);
}

.footer__desc {
    width: 45%;
}

.footer__title {
    font-size: 50px;
}

.footer__text {
    margin-top: 78px;
    padding-left: 30px;
    line-height: 30px;
    border-left: 3px solid white;
    font-weight: 600;
    letter-spacing: .5px;
}

@media (max-width: 1000px) {
    .footer__box {
        padding: 200px 0;
        display: flex;
        justify-content: center;
    }

    .footer__desc {
        width: 100%;
    }
}

